@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";

@media (prefers-color-scheme: dark) {
  html {
    background-color: $theme-base;
    color: $theme-accent;
  }
}

#__next {
  display: flex;
  justify-content: center;
}
