@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fontawesome-free-6.1.1-web/scss/fontawesome.scss";

@import "./variables";

@media (prefers-color-scheme: dark) {
  html {
    background-color: $theme-base;
    color: $theme-accent;
  }
}

#__next {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "NIMBY-West";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/nimby-west/NIMBY-West-Display-Light.otf") format("opentype");
}

@font-face {
  font-family: "NIMBY-West";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nimby-west/NIMBY-West-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "NIMBY-West";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/nimby-west/NIMBY-West-Display-Bold.otf") format("opentype");
}

@font-face {
  font-family: "NIMBY-West";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/nimby-west/NIMBY-West-Display-Black.otf") format("opentype");
}

h1, h2, h3 {
  font-family: "NIMBY-West";
}